.box {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */

	height: 1751px;
	width: 100%;

	background-color: #202024;
	background-image: url(../../image/blik.png);
	background-repeat: no-repeat;
}

.title {
	height: 19.1px;
	left: 462px;
	margin-top: 36px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.1em;

	color: rgba(255, 255, 255, 0.6);
}

.hr {
	position: absolute;
	width: 100%;
	height: 0px;
	left: 0px;
	top: 75px;

	border: 1px solid rgba(255, 255, 255, 0.534);
}

.forecast {
	height: 29.51px;
	left: 462px;
	margin-top: 31px;
	/* padding-top: 11px; */

	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 29px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.1em;

	color: rgba(255, 255, 255, 0.6);
}

.vector {
	height: 345px;
	width: 345px;
	background-image: url(../../image/icon1.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.woman {
    
}
